#home {
    background-image: url("../img/material/batons.jpg");
}

#service {
    background-image: url("../img/material/cinto-pinceis.jpg");
}

#about {
    background-image: url("../img/professional/fran.jpg");
}

.name-section {
    font-size: 3em;
    font-weight: bold;
}

.parallax {
    /* Set a specific height */
    height: 750px;
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.title-jumbo {
    background-color: white;
    font-size: 10vw; /* Responsive font size */
    top: 50%; /* Position text in the middle */
    mix-blend-mode: screen; /* This makes the cutout text possible */
}

.title-jumbo, .subtitle-jumbo {
    color: black;
    font-weight: bold;
    left: 50%; /* Position text in the middle */
    margin: 0 auto; /* Center the text container */
    padding: 10px;
    position: absolute; /* Position text */
    text-align: center; /* Center text */
    transform: translate(-50%, -50%); /* Position text in the middle */
    width: 70%;
}

.subtitle-jumbo {
    font-size: 5vw;
    text-align: center;
    position: absolute;
    top: 67%;
}

@media only screen and (min-width: 700px) {
    .title-jumbo {
        font-size: 6vw;
    }
    .subtitle-jumbo {
        font-size: 3vw;
    }
}

@media only screen and (min-width: 1200px) {
    h2 {
        font-size: 3em;
    }
}

.dot {
    color: #c80ca9;
    font-size: 100px;
}

.line {
    background: pink;
    height: 4%;
    margin: .7em auto;
    width: 15%;
}

.schedule {
    border: 1px solid #c80ca9;
    border-radius: 5px;
    color: #c80ca9;
    font-size: 25px;
    font-style: italic;
    padding: .5em;
    transition: .7s;
}

.schedule:hover {
    color: lavender;
    background-color: #c80ca9;
    text-decoration: none;
}

.content {
    font-family: 'Open Sans Condensed', sans-serif;
    font-weight: bold;
}