#home {
    /* The image used */
    background-image: url("../img/material/batons.jpg");
}

.parallax {
    /* Set a specific height */
    height: 750px;
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.title-jumbo {
    background-color: white;
    font-size: 10vw; /* Responsive font size */
    top: 50%; /* Position text in the middle */
    mix-blend-mode: screen; /* This makes the cutout text possible */
}

.title-jumbo, .subtitle-jumbo {
    color: black;
    font-weight: bold;
    left: 50%; /* Position text in the middle */
    margin: 0 auto; /* Center the text container */
    padding: 10px;
    position: absolute; /* Position text */
    text-align: center; /* Center text */
    transform: translate(-50%, -50%); /* Position text in the middle */
    width: 70%;
}

.subtitle-jumbo {
    font-size: 5vw;
    text-align: center;
    position: absolute;
    top: 67%;
}

@media only screen and (min-width: 700px) {
    .title-jumbo {
        font-size: 6vw;
    }
    .subtitle-jumbo {
        font-size: 3vw;
    }
}

#about {
    background-image: url("../img/professional/fran.jpg");
}

.dot {
    color: #c80ca9;
    font-size: 100px;
}

.content {
    font-family: 'Open Sans Condensed', sans-serif;
}