#aboutImgPage, #aboutImgPage2, #aboutImgPage3 {
    height: 100vh;
}

#aboutImgPage {
    background-image: url("../../img/material/rosas-coloridas.jpg");
}

#aboutImgPage2 {
    background-image: url("../../img/professional/francielly-rodrigues-9.jpg");
}

#aboutImgPage3 {
    background-image: url("../../img/professional/francielly-rodrigues-1.jpg");
}

#aboutMe1 {
    border-radius: 50%;
}

@media only screen and (min-width: 1024px) {
    #aboutMe2 {
        border-radius: 50%;
        max-width: 400px;
        max-height: 550px;
        width: auto;
        height: auto;
    }
}