#home {
    height: 100vh;
}

#homeImg {
    background-image: url("../img/material/batons.jpg");
    height: 100%;
}

#servicesImg {
    background-image: url("../img/material/cinto-pinceis.jpg");
    height: 100vh;
}

#aboutImg {
    background-image: url("../img/professional/francielly-rodrigues-10.jpg");
}

#jobsImg {
    background-image: url("../img/jobs/design-personalizado-e-medicao-facial-com-paquimetro.jpeg");
}

#contactImg {
    background-image: url("../img/material/diversos.jpg");
}

.name-section {
    font-size: 3em;
    font-weight: bold;
}

.service-type {
    font-size: 22px;
}

.dot {
    color: #c80ca9;
    font-family: serif;
    font-size: 100px;
}

.line {
    background: pink;
    height: 1%;
    margin: .7em auto;
    width: 15%;
}

.btn-page {
    border: 1px solid #c80ca9;
    border-radius: 5px;
    color: #c80ca9;
    font-size: 25px;
    font-style: italic;
    padding: .5em;
    transition: .7s;
}

.btn-page:hover {
    color: lavender;
    background-color: #c80ca9;
    text-decoration: none;
}

.content {
    font-size: 16px;
}

.content, .content-contact {
    font-family: 'Open Sans Condensed', sans-serif;
    font-weight: bold;
}

.carousel-inner > .carousel-item > img {
    min-width: 100%;
    height: 500px; 
}

.content-contact {
    font-size: 20px;
    padding-left: 25%;
}

.icon-contact, .icon-follow {
    font-size: 2em;
}

.icon-follow {
    color: #d559a5;
    transition: .5s;
}

.icon-follow:hover {
    color: #c80ca9;
}

@media only screen and (min-width: 576px) {
    .content-contact {
        padding-left: 10%;
    }
    .line {
        height: 2%;
    }
}

@media only screen and (min-width: 768px) {
    .content-contact {
        padding-left: 15%;
    }
}

@media only screen and (min-width: 1200px) {
    h2 {
        font-size: 3em;
    }
    .my-contacts {
        margin-top: 5%;
    }
    .content-contact {
        margin-left: 0%;
        padding-left: 20%;
    }
}