#jobsImgPage, #jobsImgPage2, #jobsImgPage3 {
    height: 100vh;
}

#jobsImgPage {
    background-image: url("../../img/material/estojo-po-2.jpg");
}

#jobsImgPage2 {
    background-image: url("../../img/jobs/design-de-sobrancelhas-2.jpg");
}
