#servicesImgPage, #servicesImgPage2 {
    height: 100vh;
}

#servicesImgPage {
    background-image: url("../../img/material/pinceis.jpg");
}

#servicesImgPage2 {
    background-image: url("../../img/material/sedutora.jpg");
}

@media only screen and (min-width: 768px) {
    .last-service {
        width: 60%;
    }
}